@charset "utf-8";

/*** total style ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html { font-size: 62.5%; } /*1rem = 10px*/

body {
  background: #fff0e6;
  color: #474443;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Source Sans Pro', 'メイリオ',Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 100%;
  width: 100%;
}

/*** normalize 対策 ***/
p {
  margin: 0;
  color: #646464;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img{
  vertical-align: top;
}
table{
  border: 0;
  border-collapse:collapse;
}
table tr{
  padding: 0;
}
table tr td{
  border: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/*** mouse over ***/
a img {
  display: block;
  width: 100%;
  height: auto;
}
a:hover img {
  filter:alpha(opacity=60);
  opacity: 0.6;
}
a {
  display: block;
  text-decoration: none;
}

body p {
  font-size: 1.5em;
}
/*** clearfix ***/
.cf:before, .cf:after {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** float ***/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}

/*** inner width ***/

img { width: 100%; height: auto; }

/*** inner width ***/
.wrapper {
  width: 100%;
}

.inner {
  max-width: 90%;
  margin: 0 auto;
}

.bg-gray {
  background: #ebebe7;
}
/********************************/

/*********** margin & padding ****/
.mt10 {margin-top: 10px; }
.mt20 {margin-top: 20px; }
.mt30 {margin-top: 30px; }
.mb10 {margin-bottom: 10px; }
.mb20 {margin-bottom: 20px; }
.mb25 {margin-bottom: 25px; }
.mb30 {margin-bottom: 30px; }
.mb35 {margin-bottom: 35px; }
.mb40 {margin-bottom: 40px; }
.mb45 {margin-bottom: 45px; }
.mb50 {margin-bottom: 50px; }
.mb60 {margin-bottom: 60px; }
.mb70 {margin-bottom: 70px; }
.pb75 {padding-bottom: 75px;}
.pb80 {padding-bottom: 80px;}
.pb85 {padding-bottom: 85px;}
.pb90 {padding-bottom: 90px;}
.pb95 {padding-bottom: 95px;}
/****** Start of Header *********/
.head {
  width: 100%;
  position: relative;
}
.top-head , .bott-head {
  width: 100%;
}
.top-head-inner {
  width: 57%;
}
.top-head-inner h1 {
  float: left;
  margin-top: 10px;
}
.bott-head-inner {
  width: 89.33%;
  margin:0 auto;
}
.bott-head-inner .resv-01 {
  width: 45%;
  float: left;
}
.bott-head-inner .resv-02 {
  width: 45%;
  float: right;
}
.nav-menu {
  position: fixed;
  top: 48px;
  right: 2%;
  width: 28%;
  border-radius: 5px;
  background: #604c3f;
  z-index: 99;
  cursor: pointer;
}
.nav-menu img {
  width: 32%;
  max-width: 100%;
  margin: 10px 15% 0 0;
}
.nav-menu .test {
  width: 100%;
  padding:18px 0;
}
.panel-btn,
.panel-btn span {
  display: inline-block;
  transition: all .3s;
}
.nav-menu .panel-btn {
  width: 20%;
  height: 50px;
  text-align: center;
  overflow: visible;
  cursor: pointer;
  position: relative;
  z-index: 99;
  left: 14%;
  display: block;
  float: left;
}
.panel-btn .border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.panel-btn .border:nth-of-type(1) { top: 13px; }
.panel-btn .border:nth-of-type(2) { top: 23px; }
.panel-btn .border:nth-of-type(3) { top: 33px; }
.drawer-txt {
  position: absolute;
  top: 24px;
  right: 17%;
  font-size: .7rem;
  font-weight: bold;
}
.panel-btn.active .border:nth-of-type(1) {
  top: 22px;
  -webkit-transform: translateY(2px) rotate(-45deg);
  transform: translateY(2px) rotate(-45deg);
}
.panel-btn.active .border:nth-of-type(2) { opacity: 0; }
.panel-btn.active .border:nth-of-type(3) {
  top: 61px;
  -webkit-transform: translateY(-37px) rotate(45deg);
  transform: translateY(-37px) rotate(45deg);
}
.g-nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #8c5a32;
  opacity: .9;
  width: 100%;
  height: 100%;
  padding-top: 6%;
  z-index: 1;
}
.g-nav li {
  display: inline-block;
  background: url(../img/sp/menu_arrow.png) left center no-repeat;
  background-size: 10px;
  width: 100%;
  color: #28cccc;
  font-size: 16px;
  line-height: 2.5;
  text-align: left;
  padding: 1% 0;
  border-bottom: 1px solid #fff;
}
.g-nav li img { vertical-align: middle; }
.g-nav li a {
  display: block;
  width :100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.g-nav li.list-btn {
  display: block;
  margin-right: auto;
  margin: 20px auto 0;
  max-width: 70%;
  text-align: center;
}
.g-nav ul li span {
  font-size: 8px;
  display: block;
  margin-top: -13px;
}
.g-nav ul li a:hover {
  color: #fff;
}
.banner {
  /*height: 324px;*/
}

.nav-reserve {
  padding-top: 20px;
}

.nav-reserve>a {
  float: left;
  width: 45%;
  display: inline-block;
}

.nav-reserve>a:nth-of-type(2) {
  float: right;
}

.nav-reserve img {
  width: 100%;
}

.nav-reserve>a>img:hover {
  opacity: 1;
}
/****** footer****************/
.totop {
  position: fixed;
  bottom: 4%;
  right: 8%;
  z-index: 99;
}

footer {
   background: #643c32;
   color: #fff;
   padding-bottom: 56px;
}

footer a {
  color: #fff;
}
footer a img {
  display: block;
  margin: 0 auto;
}
footer .ft-list li a {
  display: block;
  width: 50%;
  height: 90px;
  vertical-align: middle;
  padding: 30px 0 30px 3%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  font-size: 1.1em;
  float: left;
}
footer .ft-list li:nth-child(2n+2) a {
  border-right: 0;
}

footer .ft-list li a:hover {
  text-decoration: none;
  background: #786450;
}

footer ul.ft-list li a:after {
  content: "";
  width: 10px;
  height: 16px;
  display: block;
  background: url(../img/menu/foot_arr.png) no-repeat right;
  background-size: 100% 100%;
  float: right;
  margin: 10px 3% 0 0;
}

footer ul.ft-list li:last-child a:after {
  content: "";
  background: none;
}

footer img {
  display: block;
  margin: 0 auto;
}
footer .ft-logo {
  width: 45%;
  display: block;
  margin: 0 auto;
}
footer>img:nth-of-type(1) {
  width: 91%;
}
footer .blog {
  margin: 0 auto 30px;
  display: block;
}
footer .blog li {
  float: left;
  font-size: 1.1em;
  position: relative;
  padding-right: 3%;
}
footer ul.blog li:after {
  content: "｜";
  position: absolute;
  right: 0;
  top: 0;
}
footer .blog li.last:after {
  content: initial;
  display: block;
}
footer p {
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}


/* ----start of instructor01 ------*/

.instructor_01,
.instructor_02 {
  padding-bottom: 90px;
}

.name span {
  font-size: 2.5em;
  color: #786450;
}

.qualification ul li:first-child {
   margin-top: 15px;
}

.qualification ul li {
  font-size: 1.3em;
  color: #646464;
}
.message p {
  font-size: 1.5em;
  padding: 20px 0 40px 0;
  color: #646464;
}

/* start of instructor */

.list ul li {
  display: inline-block;
  margin-right: 7%;
  padding-bottom: 40px;
  width: 27%;
}

.list ul li:nth-child(3n+0) {
  margin-right: 0;
}

.instructor07 .message p {
  padding: 0 0 40px 0;
}

#image, #qualification {
  max-width: 90%;
  margin: 0 auto 40px;
}

#image img {
  width: 100%;
  height: auto;
}

#name, #message {
  max-width: 90%;
  margin: 0 auto 30px;
}

#name p {
  font-size: 2.5em;
  color: #786450;
}

#qualification ul li:first-child {
  margin-top: 15px;
}

#qualification ul li {
  font-size: 1.3em;
  color: #646464;
}

#message p {
  font-size: 1.5em;
  padding: 20px 0 40px 0;
  color: #646464;
}

#listreturn {
  float: right;
  margin-bottom: 90px;
  margin-right: 5%;
}

/*** Menu Page ***/
.bg-pink,.content .limit .sub-limit {
  background: #ff8b8b;
}
.content ul .bg-brown,.bg-brown {
  border-radius: 14px;
  background: #786450;
}
/*.content {
  font-size: 1.5em;
}*/
.content a,.content ul li {
  border-radius: 5px;
  padding: 23px 0;
}
.content a {
  font-size: 1.5em;
  color: #fff;
  display: block;
  text-align: center;
}
.content a:hover {
  opacity: .8;
}
.content .limit {
  width: 100%;
}
.content .limit .sub-limit {
  width: 49%;
  border-radius: 14px;
  display: table;
}
.content .limit .sub-limit a {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}
.content a:after {
  content: "";
  width: 10px;
  height: 18px;
  display: block;
  background: url(../img/menu/menu02.png) no-repeat right;
  float: right;
  margin: 10px 5% 0 0;
}
.content .sub-limit01 a:after {
  margin-top: -3px;
}
.strength ul li {
  float: left;
  width: 32%;
  height: 90px;
  margin-right: 2%;
  padding-left: 3%;
  color: #fff;
  padding-top: 34px;
}
.strength ul li:last-child {
  margin-right: 0;
}
.strength .strength01 {
  height: 90px;
  background: url(../../img/menu/menu_bg.png) no-repeat;
  background-size: 100% 100%;
}
.strength .strength02 {
  height: 90px;
  background: url(../../img/menu/menu_bg.png) no-repeat;
  background-size: 100% 100%;
}
.yoga-lesson h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #908078;
  text-align: center;
}
.yoga-lesson .menu {
  padding: 35px 5% 5% 5%;
}
.yoga-lesson .menu01 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu02 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu03 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu04 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu05 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu06 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu08 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu09 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu10 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu11 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu12 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu13 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu14 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu15 {
  background: url(../../img/menu/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 p,.yoga-lesson .menu10 p {
  margin-top: 20px;
}
.yoga-lesson .menu12 ul li {
  width: 48%;
}
.ladys,
.mens {
  position: relative;
}
.ladys:before,
.mens:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 166px;
  height: 100%;
  content: "";
}
.lesson-menu {
  width: 62.8%;
  margin: 0 auto .8em;
  padding-top: 0.8em;
  background: url(../../img/menu/dots_border.png) top left repeat-x;
}
.strength {
  width: 39.2%;
  height: auto;
}
.ladys:before {
  background: url(../../img/menu/lady.png) left top no-repeat;
  background-size: contain;
}
.mens:before {
  background: url(../../img/menu/mens.png) left top no-repeat;
  background-size: contain;
}

/* price
*********************************************/
.price-fee .all-rate span { font-size: 1.8em;}
.all-rate {
  width: 91%;
  margin: 0 auto;
}
.all-rate span {
  font-size: 2.3em;
  color: #646464;
}
.all-rate p {
  color: #786450;
  font-size: 1.2em;
}
.enroll-fee {
  background: #ffffea;
  border: 5px solid #efefeb;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 35px;
}
.enroll-fee h2 {
  color: #ff8b8b;
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
}
.enroll-fee p {
  color: #918078;
}
.enroll-fee>p:nth-of-type(1) {
  width: 95%;
  margin: 0 auto;
}
.admin-fee {
  background: #efefeb;
  padding: 25px 0 20px 0;
  text-align: center;
}
.admin-fee>p:nth-of-type(1) {
  font-size: 2.2em;
}


/* register
*********************************************/
.trail-box01 ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 24px;
  font-size: 1.5em;
  color: #646464;
  padding-left: 35px;
}

.trail-box01 ul li:before {
  content: url(../../img/register/register_img04.png);
  position: absolute;
  top: 3px;
  left: 0;
}

.trail-box01 h3 {
  font-size: 0.6em;
}

.recommen-class {
  background: #D9E8E1;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recommen-inr {
  background: url(../../img/register/register_img03.png) no-repeat;
  background-position: 100% 0px;
  background-size: 20%;
  padding: 3% 4%;
}

.recommenL {
  width: 32%;
  font-size: 30px;
  color: #646464;
  display: table;
}

.recommenL h3 {
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
}
.recommenR {
  width: 68%;
  border-left: 5px solid #ecf4f0;
  padding-left: 10px;
}


/*** Access Page ***/
.info,.info dl {
  font-size: 1.1em;
  color: #646464;
}
.info dt {
  width: 19%;
  display: block;
}
.info dd {
  width: 68%;
}
.street {
  padding: 30px 0;
}
.street img {
  padding-bottom: 30px;
}
.street:after {
  content: "";
  display: block;
  width: 26px;
  height: 33px;
  background: url(../../img/access/access04.png);
  margin: 0 auto;
}
.street01:after {
  content: initial;
  background: none;
}


/*** faq style ***/
.faq-sub dd {
  margin: 0;
}
.faq-sub span {
  display: block;
  font-size: 0.8em;
}
.faq-sub a {
  display: inline-block;
}
.faq-sub p {
  width: 100%;
  font-size: 20px;
  padding-left: 2%;
}
.faq-sub dl {
  font-size: 1em;
}
.faq-sub dt {
  width: 90%;
}
.faq-sub dt:before {
  content: "";
  width: 48px;
  height: 44px;
  display: block;
  background: url(../../img/faq/faq02.png) no-repeat top left;
  float: left;
  padding-right: 5%;
}
.faq-sub dd:before {
  content: "";
  width: 48px;
  height: 44px;
  display: block;
  background: url(../../img/faq/faq03.png) no-repeat top left;
  float: left;
  padding-right: 5%;
}
.faq-sub dt p {
  padding: 10px 0 0 11%;
  color: #ff9494;
}
.faq-sub dd {
  width: 90%;
  margin-bottom: 30px;
}
.faq-sub dd p {
  padding: 10px 0 10px 11%;
}
.element a {
  display: block;
}

/*** law style ***/
.transaction {
  background: #fff;
  padding: 70px 40px;
  margin-bottom: 50px;
}

.transaction h2 {
  color: #806d5a;
  font-size: 1.7em;
  text-align: left;
}

.transaction table {
  color: #646464;
  border-top: 1px solid #bbb1a7;
  font-size: 0.6em;
}
.transaction table tr {
  border-bottom: 1px solid #bbb1a7;
}

.transaction table tr th {
  width: 28%;
  border-right: 1px solid #bbb1a7;
  vertical-align: middle;
  text-align: left;
  padding: 15px 0 15px 1.5%;
}

.transaction table tr td {
  padding: 15px 0 15px 1.5%;
  vertical-align: middle;
  font-weight: bold;
}

.transaction table tr td ul li {
  padding: 5px 0;
}

.transaction table tr td ul li span {
  float: left;
  width: 40%;
  font-size: 0.7em;
  display: block;
}

.transaction table tr td ul li p {
  width: 60%;
  font-size: 0.7em;
  float: left;
  display: block;
}

.transaction table tr td ul li p a {
  color: #649fc8;
}

.transaction table tr td a {
  color: #649fc8;
  display: inline-block;
}

.transaction table tr td ul li p a:hover,
.transaction table tr td a:hover {
  opacity: 0.7;
}

/*** privacy style ***/
.privacy {
  background: #fff;
  padding: 70px 40px;
  margin-bottom: 40px;
}

.privacy h2 {
  font-size: 1.7em;
  color: #786450;
  margin-bottom: 50px;
  text-align: left;
}

.privacy>p {
  color: #646464;
  font-size: 1.2em;
  line-height: 2;
  margin-bottom: 70px;
}

.privacy01 ul li h3 {
  font-size: 1.5em;
  color: #646464;
  margin-bottom: 5px;
}

.privacy01 ul li p {
  font-size: 1.2em;
  color: #646464;
  margin-bottom: 30px;
  line-height: 2;
}

.privacy01 ul li:last-child p {
  margin-bottom: 0;
}

.privacy01 ul li p a {
  color: #649fc8;
}

.privacy01 ul li p a:hover {
  opacity: 0.7;
}

/* facebook
**********************************/
.fb_center {
  width: 92%;
  margin: 0 auto;
}
