/*
Theme Name: manayoga
Author: chokumo
*/

@charset "utf-8";

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('font/NotoSansCJKjp-Thin.eot'); /* IE9 Compat Modes */
    src: url('font/NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/NotoSansCJKjp-Thin.woff') format('woff'), /* Modern Browsers */
    url('font/NotoSansCJKjp-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('font/NotoSansCJKjp-Light.eot');
    src: url('font/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Light.woff') format('woff'),
    url('font/NotoSansCJKjp-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('font/NotoSansCJKjp-DemiLight.eot');
    src: url('font/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('font/NotoSansCJKjp-DemiLight.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('font/NotoSansCJKjp-Regular.eot');
    src: url('font/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Regular.woff') format('woff'),
    url('font/NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('font/NotoSansCJKjp-Medium.eot');
    src: url('font/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Medium.woff') format('woff'),
    url('font/NotoSansCJKjp-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('font/NotoSansCJKjp-Bold.eot');
    src: url('font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Bold.woff') format('woff'),
    url('font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('font/NotoSansCJKjp-Black.eot');
    src: url('font/NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSansCJKjp-Black.woff') format('woff'),
    url('font/NotoSansCJKjp-Black.ttf')  format('truetype');
}
/******************************************************

    font-family: 'Noto Sans';

******************************************************/

body {
	font-family:'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	font-size:100%;
	line-height:1.5em;
	color:#646464;
	background-color: #fff3e9;
	min-width: 1100px;
}

img {
	vertical-align: top;
}

a {
	color:#649fc8;
	text-decoration:none;
}

a:hover {
	color:#649fc8;
	text-decoration:none;

}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.top0{
    margin-top: 0;
}
.top10 {
	margin-top:10px;
}

.top20 {
	margin-top:20px;
}

.top30 {
	margin-top:30px;
}

.top40 {
	margin-top:40px;
}

.top50 {
	margin-top:50px;
}
.top60 {
	margin-top:60px;
}
.bottom0 {
	margin-bottom:0;
}

.bottom10 {
	margin-bottom:10px;
}

.bottom20 {
	margin-bottom:20px;
}

.bottom30 {
	margin-bottom:30px;
}

.bottom40 {
	margin-bottom:40px;
}

.bottom50 {
	margin-bottom:50px;
}

.bottom60 {
	margin-bottom:60px;
}
strong{
    display: block;
}
.block{
    display: block;
}
.ta_left{
    text-align: left !important;
}
.ta_right{
    text-align: right !important;
}

.clear {
	clear:both;
}

.left {
	float:left;
	display:inline;
}

.right {
	float:right;
	display:inline;
}

.center {
	text-align:center;
}

.Large{
    font-size: 1.1em;
}
.small{
    font-size: .85em;
}

*:focus{
  outline: none;
}

.band{
	background: url(img/common/band.png) repeat-x center center;
	height: 32px;
}
.wrap{
	width: 1000px;
	margin: 0px auto 34px;
}

header{
	position: relative;
	width: 1000px;
	margin: 36px auto 8px;
}
header div div.left{
	width: 294px;
}

header div div.right{
	width: 636px;
    position: absolute;  
    top: 12px;  
    left: 364px;
}

header div div.right ul li{
	float: right;
	color: #643c32;
}
header div div.right ul li:nth-child(1){
	margin-left: 12px;
}
header div div.right ul li:nth-child(2){
	margin-left: 22px;
}

header div div.right ul li p{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 2px;
	color: #ff7878;
	line-height: 21px;
}

header div div.right ul li dl dt{
	font-size: 10px;
	font-weight: 400;
	line-height: 150%;
}
header div div.right ul li dl dd{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}


header ul li a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

header ul li a:hover img{
    opacity:0.0;
    filter: alpha(opacity=0);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";  /* ie 8 */
    -moz-opacity:0.0;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.0;              /* Safari 1.x */
}


header nav{
	padding-top: 16px;
}

header div div.right ul li:nth-child(1) a{
	display: block;
	width: 250px;
	height: 50px;
	background-image: url("img/common/trial_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}


header div div.right ul li:nth-child(2) a{
	display: block;
	width: 170px;
	height: 50px;
	background-image: url("img/common/lesson_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}

header nav ul{
	width: 100%;
}

header nav ul li{
	float: left;
	display: block;
	height: 48px;
}

header nav ul li a{
	display: block;
	height: 48px;
}

header nav ul li:nth-child(1) a{
	width: 120px;
	background-image: url("img/common/nav01_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(2) a{
	width: 140px;
	background-image: url("img/common/nav02_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(3) a{
	width: 140px;
	background-image: url("img/common/nav03_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(4) a{
	width: 140px;
	background-image: url("img/common/nav04_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(5) a{
	width: 180px;
	background-image: url("img/common/nav05_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(6) a{
	width: 140px;
	background-image: url("img/common/nav06_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}
header nav ul li:nth-child(7) a{
	width: 140px;
	background-image: url("img/common/nav07_on.png");
    background-position: center center;
    background-repeat: no-repeat;
}






#main{
	width: 1100px;
	margin: 0 auto 20px;
	background: url('img/top/mainvbg.png') no-repeat center center;
	min-height: 600px;
}

#silideBox{
	margin: 0 auto;
    width: 1000px;
    height: 410px;
    overflow: hidden;
    text-align: center;
    display: block;
    position:relative;
}

.callbacks_tabs{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 999;
}
.callbacks_tabs li{
    float: left;
    padding-right: 4px;
}
.callbacks_tabs li a{
    display: block;
    text-indent: 100px;
    width: 7px;
    height: 7px;
    overflow: hidden;
    background: url(img/top/slide_off.png) no-repeat center center;
}
.callbacks_tabs li.callbacks_here a{
    background: url(img/top/slide_on.png) no-repeat center center;
}
.cover{
    width: 100%;
    overflow: hidden;
    background: #e6e6dc;
}


#main .main_v2{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	color: #786450;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	padding-top: 30px;
}

.wrap article{
	width: 694px;
	float: left;
}
.wrap article section{
	width: 694px;
	margin-bottom: 38px;
}

.wrap article#top section#info{
	background-color: #ffffff;
	font-size: 12px;
	line-height: 22px;
	font-weight: 300;
}

.wrap article#top section#info p{
	padding: 10px 15px;
}

.wrap article#top section#blog{
	font-size: 12px;
	line-height: 26px;
	font-weight: 300;
}
.wrap article#top section#blog h2{
	background: url(img/top/blog.png) no-repeat center center;
	width: 694px;
	height: 42px;
}
.wrap article#top section#blog h2 p.ta_right{
	padding-top: 14px;
	padding-right: 12px;
	float: right;
}

.wrap article#top section#blog h2 p.ta_right a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.wrap article#top section#blog h2 p.ta_right a{
	background-image: url("img/top/bloglist_on.png");
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
}

.wrap article#top section#blog h2 p.ta_right a:hover img{
    opacity:0.0;
    filter: alpha(opacity=0);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";  /* ie 8 */
    -moz-opacity:0.0;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.0;              /* Safari 1.x */

}

.wrap article#top section#blog ul{
	background-color: #ffffff;
	padding: 10px 15px;
}

.wrap article#top section#blog ul li span{
	padding-left: 20px;
}

.wrap article#top section#first{
	background: url(img/top/main.png) no-repeat center center;
	width: 694px;
	height: 923px;
	padding-bottom: 40px;
}

.wrap article#top section#first p{
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    padding-left: 109px;
    padding-top: 220px;
    width: 200px;
}

.wrap article#top section#characteristic{
	padding-bottom: 0;
}

.wrap article#top section#characteristic h2{
	padding-bottom: 30px;
}

.wrap article#top section#characteristic h3{
	padding-bottom: 20px;
}
.wrap article#top section#characteristic p.context{
	padding-bottom: 50px;
	font-size: 13px;
	line-height: 21px;
}


article i{
	font-style: normal;
	color: #bbb1a7;
}




.wrap aside{
	width: 280px;
	float: right;
}

.wrap aside img{
	display: block;
}

.wrap aside ul li a span{
	display: none;
}

.wrap aside ol{
	width: 280px;
	height: 197px;
	padding-top: 45px;
	background-image: url("img/blog/blog05.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.wrap aside ol li{
	padding-left: 20px;
	width: 100%;
	padding-bottom: 10px;
	font-size: 14px;
}
.wrap aside ol li a{
	color: #643c32;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.wrap aside ol li a:hover{
    opacity:0.7;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */
}

.wrap aside ol li span{
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

.wrap aside ul li{
	width: 280px;
	padding-bottom: 14px;
}
.wrap aside ul li a{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}


.wrap aside ul li:nth-child(2),
.wrap aside ul li:nth-child(3){
}

.wrap aside ul li:nth-child(1) a{
	background-image: url("img/common/side01_on.png");
}
.wrap aside ul li:nth-child(2) a{
	background-image: url("img/common/side02_on.png");
}
.wrap aside ul li:nth-child(3) a{
	background-image: url("img/common/side03_on.png");
}
.wrap aside ul li:nth-child(4) a{
	background-image: url("img/common/side04_on.png");
}
.wrap aside ul li:nth-child(5) a{
	background-image: url("img/common/side05_on.png");
}
.wrap aside ul li:nth-child(7) a{
	background-image: url("img/common/side07_on.png");
}


.wrap aside ul li:nth-child(1) a img,
.wrap aside ul li:nth-child(2) a img,
.wrap aside ul li:nth-child(3) a img,
.wrap aside ul li:nth-child(4) a img,
.wrap aside ul li:nth-child(5) a img,
.wrap aside ul li:nth-child(7) a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.wrap aside ul li:nth-child(1) a:hover img,
.wrap aside ul li:nth-child(2) a:hover img,
.wrap aside ul li:nth-child(3) a:hover img,
.wrap aside ul li:nth-child(4) a:hover img,
.wrap aside ul li:nth-child(5) a:hover img,
.wrap aside ul li:nth-child(7) a:hover img{
    opacity:0.0;
    filter: alpha(opacity=0);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";  /* ie 8 */
    -moz-opacity:0.0;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.0;              /* Safari 1.x */
}


.wrap aside ul li:nth-child(6) p{
	font-size: 18px;
	color: #643c32;
	font-weight: 700;
	letter-spacing: 4px;
}
.wrap aside ul li:nth-child(6) p span{
	font-size: 11px;
	color: #643c32;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0px;
	display: block;
}

.wrap aside ul li:nth-child(1){
	padding-bottom: 30px;
}
.wrap aside ul li:nth-child(6){
	padding-bottom: 20px;
}
.wrap aside ul li:nth-child(7){
	padding-bottom: 20px;
}
.wrap aside ul li:nth-child(8){
	padding-bottom: 20px;
}
.wrap aside ul li:nth-child(9){
	padding-bottom: 10px;
}
.wrap aside ul li:nth-child(10){
	padding-bottom: 10px;
}
.wrap aside ul li:nth-child(11){
	padding-bottom: 30px;
}

.wrap aside ul li:nth-child(9) a img,
.wrap aside ul li:nth-child(10) a img,
.wrap aside ul li:nth-child(11) a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.wrap aside ul li:nth-child(9) a:hover img,
.wrap aside ul li:nth-child(10) a:hover img,
.wrap aside ul li:nth-child(11) a:hover img{
    opacity:0.7;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */

}




#footer_zero{
	width: 1000px;
	margin: 0px auto 8px;
}

#footer_zero .autoplay{
	width: 961px;
	margin: 20px auto;
}

#footer_zero .autoplay .slick-slide{
	text-align: center;
}

#footer_zero .left{
    width: 680px;
}
#footer_zero div.left div{
	margin-bottom: 34px;
}

#footer_zero div.trial_w div a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

#footer_zero div.trial_w div a{
	background-image: url("img/common/trial_w_on.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1000px;
    height: 190px;
}

#footer_zero div.trial_w div a:hover img{
    opacity:0.0;
    filter: alpha(opacity=0);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";  /* ie 8 */
    -moz-opacity:0.0;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.0;              /* Safari 1.x */

}


#return{
	padding-top: 46px;
	margin-bottom: 10px;
	text-align: right;
}

#return #return-page-top{
	cursor: pointer;
	bottom: 0;
	right: 0;
}

#return #return-page-top img{
	vertical-align: top;
}

#return a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}


#return a:hover img{
    opacity:0.7;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */

}

#footer{
}

footer{
    color: #b4aaa0;
    font-size: 12px;
    width: 100%;
    text-align: left;
    background-color: #643c32;
}

footer .inner{
    margin: 0 auto;
    width: 1000px;
}
footer .logo{
	padding-top: 30px;
	float: left;
	padding-right: 90px;
}

footer #link1,
footer #link2{
	padding-top: 24px;
    font-size: 12x;
    font-weight: 300;
    letter-spacing:0.3em;
	float: left;
	padding-right: 50px;
}

footer #link1 a,
footer #link2 a{
    color: #b4aaa0;
}

footer #link1 a:hover,
footer #link2 a:hover{
    color: #b4aaa0;
}

footer #copy{
	text-align: right;
    font-size: 10px;
    font-weight: 200;
    padding-right: 5px;
    letter-spacing:2px;
}

footer a img{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

footer a:hover img{
    opacity:0.7;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */

}

.wrap article a,
#footer_zero .autoplay a{

	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;

	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.wrap article a:hover,
#footer_zero .autoplay a:hover{
    opacity:0.7;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */

}


/** subpage **/

.wrap article.subpage{
	background-color: #fff;
}

.wrap article.subpage section{
	width: 614px;
	margin: 0 auto;
}

.wrap article.subpage h2{
	width: 614px;
	margin: 70px auto;
}


/** access **/
.wrap article#access.subpage section#info{
	margin: 50px auto;
}

.wrap article#access.subpage section#info div.left{
	width: 220px;
}

.wrap article#access.subpage section#info div.right{
	width: 384px;
	font-size: 12px;
	line-height: 18px;
}

.wrap article#access.subpage section#info h3{
	font-weight: normal;
}

.wrap article#access.subpage section#info dl dt{
	width: 100px;
	float: left;
	padding: 3px 0;
}
.wrap article#access.subpage section#info dl dd{
	width: 284px;
	float: left;
	padding: 3px 0;
}
.wrap article#access.subpage section#info p{
	padding: 15px 0;
	line-height: 20px;
}

.wrap article#access.subpage section#street{
	background-image: url("img/access/access03.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 1110px;
    margin-bottom: 50px;
}

.wrap article#access.subpage section#street p{
	padding-left: 285px;
	padding-top: 60px;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
}
.wrap article#access.subpage section#street .street1{
	height: 380px;
	padding-top: 40px;
}
.wrap article#access.subpage section#street .street2{
	height: 370px;
}
.wrap article#access.subpage section#street .street3{
	height: 320px;
}


/** instructor** **/
.wrap article#instructor.subpage section#name{
	padding-top: 50px;
}
.wrap article#instructor.subpage section h3{
	padding-bottom: 12px;
}

.wrap article#instructor.subpage section#name p{
	font-size: 26px;
	font-weight: 400;
}

.wrap article#instructor.subpage section#qualification{
	padding-top: 50px;
}

.wrap article#instructor.subpage section#qualification ul li{
	font-size: 12px;
	font-weight: 400;
}

.wrap article#instructor.subpage section#message{
	padding-top: 50px;
}

.wrap article#instructor.subpage section#message p{
	font-size: 12px;
	font-weight: 400;
}

.wrap article#instructor.subpage section#listreturn{
	padding-top: 50px;
	padding-bottom: 50px;
}

/** price **/

.wrap article#price.subpage h2 span{
	display: block;
	float: right;
	font-weight: 300;
	font-size: 12px;
	padding-top: 25px;
}

.wrap article#price.subpage section{
	padding-top: 0;
	padding-bottom: 80px;
}

.wrap article#price.subpage section#context{
	padding-top: 0;
	padding-bottom: 80px;
}

.wrap article#price.subpage section#context div{
	padding-top: 30px;
	padding-bottom: 0;
}
.wrap article#price.subpage section#context p.ta_right{
	font-weight: 300;
	font-size: 12px;
}

.wrap article#price.subpage section p.context{
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}

.wrap article#price.subpage section table{
	border-top: 1px solid #bbb1a7;
	font-size: 13px;
	font-weight: 400;
}

.wrap article#price.subpage section table tbody tr th,
.wrap article#price.subpage section table tbody tr td{
	border-bottom: 1px solid #bbb1a7;
	text-align: center;
	vertical-align: middle;
	height: 40px;
}

.wrap article#price.subpage section table tbody tr th{
	background-color: #f5f5f0;
}

.wrap article#price.subpage section table tbody tr .times{
	width: 164px;
	border-right: 1px solid #bbb1a7;
}
.wrap article#price.subpage section table tbody tr .price{
	width: 242px;
	border-right: 1px solid #bbb1a7;
}
.wrap article#price.subpage section table tbody tr .limit{
	width: 208px;
}
.wrap article#price.subpage section table tbody tr .space{
	height: 15px;
	font-size: 1px;
}
.wrap article#price.subpage section table tbody tr .price2{
	width: 451px;
}


.wrap article#price.subpage section p.payment{
	padding-top: 20px;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
}

.wrap article#price.subpage section#private h4{
	padding-bottom: 20px;
}

/** photoGallery **/
.wrap article#photogallery.subpage section#image{
	width: 694px;
}

.wrap article#photogallery.subpage section#image img{
	margin-bottom: 15px;
}
.wrap article#photogallery.subpage section#image img:last-child{
	margin-bottom: 45px;
}

/** instructor **/
.wrap article#instructor.subpage section#list{
	width: 635px;
}
.wrap article#instructor.subpage section#list ul li{
	float: left;
	width: 127px;
	text-align: center;
	margin-bottom: 50px;
}


/** schedule **/
.wrap article#schedule.subpage section#mouth{
	margin-bottom: 30px;
}
.wrap article#schedule.subpage section#move{
	margin-bottom: 10px;
}

.wrap article#schedule.subpage section.weekly{
	margin-bottom: 40px;
	
}
.wrap article#schedule.subpage section.weekly ul li{
	border-bottom: 1px solid #b9afa5;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

.wrap article#schedule.subpage section.weekly ul li a{
	color: #646464;
	width: 100%;
	display: block;
	vertical-align: middle;
	display: table-cell;
	height: 40px;
}

.wrap article#schedule.subpage section.weekly ul li a:hover{
	background-color: #e0dbd6;
}
.wrap article#schedule.subpage section.weekly ul li a time{
	width: 115px;
	padding-left: 5px;
	display: block;
	float: left;
}
.wrap article#schedule.subpage section.weekly ul li a em{
	width: 205px;
	font-style: normal;
	display: block;
	float: left;
}
.wrap article#schedule.subpage section.weekly ul li a name{
	width: 289px;
	display: block;
	float: left;
}
.wrap article#schedule.subpage section.weekly ul li a name span{
	color: #ff7878;
	padding-left: 5px;
}

.wrap article#schedule.subpage section.weekly ul li a:hover{
    opacity:1;
    filter: alpha(opacity=100);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=100)";  /* ie 8 */
    -moz-opacity:1;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 1;              /* Safari 1.x */

}


.wrap article#schedule.subpage section#context1{
	padding-top: 20px;
	font-size: 12px;
	line-height: 22px;
}
.wrap article#schedule.subpage section#context2{
	padding-top: 20px;
	font-size: 12px;
	line-height: 22px;
	color: #ff7878;
	padding-bottom: 50px;
}

/** menu **/
.wrap article#menu.subpage section#context{
	margin-bottom: 70px;
}
.wrap article#menu.subpage section#context p{
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.wrap article#menu.subpage section.menu{
	margin-bottom: 12px;
}

.wrap article#menu.subpage section.menu01{
	background-image: url("img/menu/menu03.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}
.wrap article#menu.subpage section.menu02{
	background-image: url("img/menu/menu04.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}
.wrap article#menu.subpage section.menu03{
	background-image: url("img/menu/menu05.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}

.wrap article#menu.subpage section.menu01h{
	background-image: url("img/menu/menu11.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 248px;
}

.wrap article#menu.subpage section.menu02h{
	background-image: url("img/menu/menu06.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 248px;
}
.wrap article#menu.subpage section.menu01w{
	background-image: url("img/menu/menu10.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}

.wrap article#menu.subpage section.menu02w{
	background-image: url("img/menu/menu07.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}

.wrap article#menu.subpage section.menu02wh{
	background-image: url("img/menu/menu12.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 248px;
}

.wrap article#menu.subpage section.menu02m{
	background-image: url("img/menu/menu08.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 614px;
    height: 132px;
}


.wrap article#menu.subpage section.menu dl dt{
	margin-top: 30px;
	margin-left: 37px;
	text-align: center;
	width: 189px;
	float: left;
	font-size: 18px;
	font-weight: 500;
	color: #908078;
}
.wrap article#menu.subpage section.menu dl dd{
    padding-left: 30px;
	width: 358px;
	height: 132px;
	display: block;
	vertical-align: middle;
	display: table-cell;
	font-size: 11px;
	line-height: 20px;
	font-weight: 300;
}


.wrap article#menu.subpage section.menu.h dl dt{
	margin-top: 70px;
}
.wrap article#menu.subpage section.menu.h dl dd{
	height: 248px;

}

.wrap article#menu.subpage section.menu.menu0h.h dl dd div{
	padding-top: 10px;
}

.wrap article#menu.subpage section.menu.menu0h.h dl dd div.right{
	font-size: 10px;
	line-height: 16px;
	width: 210px;
}

/** in preparation **/

.wrap article#inpreparation.subpage section{
	padding-top: 38px;
	min-height: 300px;
}

/** admission **/
.wrap article#register.subpage section p{
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}
.wrap article#register.subpage section p span{
	color: #ff7878;
}

.wrap article#register.subpage section p.context{
	padding-top: 20px;
}

.wrap article#register.subpage section p.context2{
	padding-top: 20px;
	padding-bottom: 20px;
}

/** trial **/
.wrap article#register.subpage section{
	padding-bottom: 60px;
}

.wrap article#register.subpage section h4{
	padding-top: 30px;
}

.wrap article#register.subpage section p{
	padding-top: 20px;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}
.wrap article#register.subpage section dl{
	width: 188px;
	height: 146px;
	float: left;
	margin-left: 5px;
	margin-right: 15px;
	background-image: url("img/trial/trial08.png");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.wrap article#register.subpage section dl dt{
	width: 188px;
	text-align: center;
	height: 45px;
	display: block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 500;
	padding-top: 27px;
	line-height: 18px;
}
.wrap article#register.subpage section dl dt span{
	font-size: 10px;

}

.wrap article#register.subpage section dl dd{
	width: 188px;
	text-align: center;
	display: block;
	vertical-align: middle;
	display: table-cell;
	padding-top: 2px;
	height: 71px;
	font-size: 10px;
	line-height: 15px;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
}

.wrap article#register.subpage section dl.end{
	margin-right: 0;
}

.wrap article#register.subpage section table{
	border-top: 1px solid #bbb1a7;
	font-size: 13px;
	font-weight: 400;
	margin-top: 20px;
}

.wrap article#register.subpage section table tbody tr th,
.wrap article#register.subpage section table tbody tr td{
	border-bottom: 1px solid #bbb1a7;
	text-align: center;
	vertical-align: middle;
	height: 40px;
}

.wrap article#register.subpage section table tbody tr th{
	background-color: #f5f5f0;
}

.wrap article#register.subpage section table tbody tr .times{
	width: 164px;
	border-right: 1px solid #bbb1a7;
}
.wrap article#register.subpage section table tbody tr .price{
	width: 242px;
	border-right: 1px solid #bbb1a7;
}
.wrap article#register.subpage section table tbody tr .limit{
	width: 208px;
}
.wrap article#register.subpage section table tbody tr .space{
	height: 15px;
	font-size: 1px;
}
.wrap article#register.subpage section table tbody tr .price2{
	width: 451px;
}


.wrap article#register.subpage section p.payment{
	padding-top: 20px;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
}


/** faq **/

.wrap article#faq.subpage section{
	padding-bottom: 70px;
}

.wrap article#faq.subpage section dl{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.wrap article#faq.subpage section dl dt{
	background-image: url("img/faq/faq04.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    width: 554px;
    min-height: 33px;
    padding-left: 60px;
    color: #ff9494;
    padding-top: 11px;
    padding-bottom: 10px;
}

.wrap article#faq.subpage section dl dd span{
	font-size: 13px;
}

.wrap article#faq.subpage section dl dd{
	background-image: url("img/faq/faq05.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    width: 554px;
    min-height: 33px;
    padding-left: 60px;
    color: #646464;
    padding-top: 11px;
}

/** law **/

.wrap article#law.subpage section{
	padding-bottom: 70px;
}

.wrap article#law.subpage section table{
	color: #646464;
	border-top: 1px solid #bbb1a7;
}

.wrap article#law.subpage section table tr{
	border-bottom: 1px solid #bbb1a7;
}

.wrap article#law.subpage section table tr th{
	border-right: 1px solid #bbb1a7;
	width: 30%;
	font-size: 12px;
	line-height: 26px;
	font-weight: 400;
	text-align: left;
	padding-left: 20px;
	vertical-align: middle;
	display: table-cell;
	min-height: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.wrap article#law.subpage section table tr td{
	width: 70%;
	font-size: 12px;
	line-height: 26px;
	font-weight: 400;
	padding-left: 20px;
	vertical-align: middle;
	display: table-cell;
	padding-top: 7px;
	padding-bottom: 7px;
}

.wrap article#law.subpage section table tbody tr td ul li span{
	width: 30%;
	display: block;
	float: left;
}
.wrap article#law.subpage section table tbody tr td ul li p{
	width: 70%;
	float: left;
}

/** policy **/
.wrap article#policy.subpage section{
	padding-bottom: 40px;
}

.wrap article#policy.subpage section p{
	padding-bottom: 30px;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	color: #646464;
}

.wrap article#policy.subpage section p:first-child{
	padding-bottom: 60px;
}

/** blog **/
.wrap article#blog.subpage{
	min-height: 300px;
}
.wrap article#blog.subpage section div.entry div.content{
	margin: 20px auto 40px;
}

.wrap article#blog.subpage section h2{
	margin: 20px auto 10px;
	border-bottom: 1px solid #b9afa5;
	font-size: 18px;
	padding-bottom: 5px;
}
.wrap article#blog.subpage section h2,
.wrap article#blog.subpage section h2 a{
	color: #643c32;
}
.wrap article#blog.subpage section div.entry div.content div#mainContent{
	padding-top: 10px;
	min-height: 300px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.wrap article#blog.subpage section div.entry div.navigation div.left{
	width: 280px;
	text-align: right;
}
.wrap article#blog.subpage section div.entry div.navigation div.right{
	width: 280px;
	text-align: left;
}
.wrap article#blog.subpage section{
	margin-bottom: 20px;
}

.wrap article#blog.subpage section ul{
	background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 20px;
	
}
.wrap article#blog.subpage section ul li a{
	color: #646464;
}
.wrap article#blog.subpage section ul li span{
	padding-left: 20px;
}
.wrap article#blog.subpage section.blog{
	padding-top: 30px;
}


/** subpage **/

.wrap article.subpage section#photo{
	width: 694px;
	margin: 0;
	padding: 0px;
}

